*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
body{
    background-color: rgb(5, 222, 238);
}
main{
    /* background-color: cyan; */
    display: flex;
    /* display: 1; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.card{
    /* outline: 2px solid darkblue; */
    /* border-collapse: separate;  */
    border-radius: 20px;
    height: 40vh;
    width: 37vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    filter: drop-shadow(10px 10px 30px rgb(95, 95, 95));
    z-index: 2;
    /* align-items: center; */
}
.profile{
    flex: 4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    /* margin: auto; */
}

.info{
    border-top: 1px solid rgb(224, 224, 224);
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}
.followers, .likes , .photos {
    text-align: center;
    margin: auto;
}
.top{
    position: absolute;
    top: -35%;
    left: -10%;
    /* z-index: 0; */
    filter: drop-shadow(10px 10px 10px rgb(95, 95, 95));
    /* opacity: 0.4; */
}
.bottom{
    position: absolute;
    bottom: -35%;
    right: -10%;
    /* z-index: 0; */
    filter: drop-shadow(10px 10px 10px rgb(95, 95, 95));
    /* opacity: 1; */
}
.cardp{
    display: flex;
    
    /* position: absolute; */
    /* z-index: -1; */
}
.photo{
    border-radius: 50%;
}
.smalltext{
    font-weight: lighter;
    font-size: 10px;
}
.profileinfo{
    text-align: center;
    display: flex;
    border-color: cyan;
    flex-direction: column;
}

@media screen and (max-width: 1500px){
    .bottom{
        height: 90%;
    }
    .top{
        height:90%;
    }
}
@media screen and (max-width: 1050px){
    .bottom{
        height: 70%;
    }
    .top{
        height:70%;
    }
}